{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
   


    <form action ="/difficulty" method="POST">Difficulty<br>
        <input type="radio" name="difficulty" value="1"> 1 <br>
        <input type="radio" name="difficulty" value="2"> 2<br>
        <input type="radio" name="difficulty" value="3"> 3<br>
        <input type="radio" name="difficulty" value="4"> 4<br>
        <input type="radio" name="difficulty" value="5"> 5<br>
        <input type="radio" name="difficulty" value="6"> 6<br>
        <input type="radio" name="difficulty" value="7"> 7<br>
        <input type="radio" name="difficulty" value="8"> 8<br>
        <input type="radio" name="difficulty" value="9"> 9<br>
        <input type="radio" name="difficulty" value="10"> 10<br>
        <br>

       <button class ="btn btn-primary" type="submit" value="next">Next</button>

    </form>


    



    <script>

  


    </script>

{% endblock %}
