{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <div>
        <img src="/static/img/bird-background-2.png"></img>
    </div>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->

    <h1>Twitr
    </h1>

    <p1>Learn the soundtrack of mother nature</p1>

    <br>
    <br>

    <form action="/register" method="get">
        <button class="btn btn-primary" type="submit">Start</button>     
    </form>

    <form action="/login" method="get">
    <button class="btn btn-primary" type="submit">Log in</button>
    </form>


    <script>

  


    </script>

{% endblock %}
